body {
    background-color: whitesmoke;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}


/* navigation */
.navbar {
    font-size: 20px;
    background-color: whitesmoke;
}


/* main title */
.main-title {
    height: 100vh;
    min-height: 500px;
}

h1 span {
    word-wrap: break-word;
}

.headline-title {
    font-family: 'Misto';
    font-size: 90px;
    color: #1b1b1b;
   
}

.headline-sub {
    font-size: 20px;
    color: #b91a2f;
}

@media (min-width: 768px) {
    .main-title {
        padding-top: 60px;
    }
    
    .headline-title {
        font-size: 150px;
    }

    .headline-sub {
        font-size: 25px;
        padding-bottom: 5px;
    }
}


/* HR NOT WORKING */
hr .d-block {
    color: #b91a2f;
}

.section-title {
    font-family: 'Misto';
    font-size: 20px;
    color: #b91a2f;
}


@media (min-width: 768px) {
    .section-title {
        font-size: 40px;
    }
}




